:cascade layout;
:around content -> {
    <div class="row">
      <div class="column grid-16">
        <h2>キャラクター追加</h2>
        <p>
            キャラクターを追加します
        </p>
        :block form | fillinform($req) -> {
        <form action="" method="post">
          <fieldset>
            <legend>登録情報</legend>
            <label for="pc_name">キャラの名前</label>
            <input type="text" id="name" name="name"  />
            :error("name")
            <label for="profile">キャラクターの紹介文</label>
            <textarea id="profile" name="profile" rows="10" cols="40"></textarea>
            :error("profile")
            <label for="type">種族</label>
            <select id="type" name="type">
              <option value="H">人間</option>
              <option value="E">エルフ</option>
              <option value="G">ジャイアント</option>
            </select>
            :error("type")
            <button type="submit">確認</button>
          </fieldset>
        </form>
        : }
      </div>
    </div>
:}

