:for $pcs -> $pc {
<h3 class="char-name"><: $pc.name :></h3>
:if ( $pc.user_id == $c.user.id && $display_menu ) {
<ul class="h-menu">
  <li><a href="/character/edit/<: $pc.uuid :>">編集</a></li>
  <li><a href="/skill/edit/<: $pc.uuid :>">スキル編集</a></li>
  <li><a href="/character/delete/<: $pc.uuid :>">削除</a></li>
</ul>
<br />
: }
<table class="my-table"> 
    <tr>
      <td rowspan="6">キャラ画像</td>
    </tr>
    <tr>
      <th>種族</th>
      <td><: $pc.type_name :></td>
    </tr>
    <tr>
      <th>ランク</th>
      <td><: $pc.rank_name :></td>
    </tr>
    <tr>
      <th>メインキャラ</th>
      : my $main_char = $pc.main_char;
      : if ( $main_char ) {
      <td><a href="/character/show/<: $main_char.uuid :>"><: $main_char.name :></a></td>
      : } else {
      <td>※メインキャラ</td>
      : }
    </tr>
    <tr>
      <th>職業</th>
      <td>[職業]</td>
    </tr>
    <tr>
      <th>性別</th>
      <td><: $pc.sex_name :></td>
    </tr>
    <tr>
      <th colspan="3">紹介文</th>
    </tr>
    <tr>
      <td colspan="3"><: $pc.profile | nl2br :></td>
    </tr>
</table> 
</table> 
: } else {
<p>登録されてません</p>
: }
