<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <title> <: $page_title :> | <: $site_title :></title>

  <meta name="description" content="オンラインゲーム「Mabinogi」ルエリサーバーのギルド「憩いの我が家亭」のWebサイトです。">
  <meta name="author" content="Senchan">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link href="/css/app.less" media="all" rel="stylesheet/less" type="text/css" />
  <script src="/js/less-1.0.41.js"></script>
  <script type="text/javascript" charset="utf-8">
    // Under development you should uncomment the following lines,
    // to make the browser refresh the changes that you are makeing in your app.less file.
    less.env = "development";
    less.watch();
  </script>
  <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <script type="text/javascript" src="/js/libs/jquery-1.5.min.js"></script>
</head>
<body>
  <header>
    <div class="row">
      <div class="column grid-10">
        <hgroup>
          <h1 class="logo">憩いの我が家亭</h1>
          <p class="slogan">MMORPG「マビノギ」ルエリサーバーのギルド「憩いの我が家亭」のWebサイトです</p>
        </hgroup>
      </div>
    </div>
    <div class="row">
      <nav class="global-navi">
        <ul class="h-menu">
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/character/">Character Sheet</a>
          </li>
          :if ( $user ) {
          <li><a href="/user/logout">Logout</a></li>
          : } else {
          <li><a href="/oauth/">Login</a></li>
          : }
        </ul>
      </nav>
    </div>
  </header>
  <div id="content">
    :block content -> { 
        Something wrong!
    :}
  </div>
  <footer>
    <div class="row">
      <div class="column grid-16">
        <p class="tal">Designed for Google Chrome12, Safari5 and FireFox4</p>
        <p class="tal"><small>Copyright &copy; 2011 - Senchan.jp</small></p>
      </div>
    </div>
  </footer>
</body>
</html>
