<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <title> <: $page_title :> | <: $site_title :></title>

  <meta name="description" content="オンラインゲーム「Mabinogi」ルエリサーバーのギルド「憩いの我が家亭」のWebサイトです。">
  <meta name="author" content="Senchan">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link href="/css/app.less" media="all" rel="stylesheet/less" type="text/css" />
  <script src="/js/less-1.0.41.js"></script>
  <script type="text/javascript" charset="utf-8">
    // Under development you should uncomment the following lines,
    // to make the browser refresh the changes that you are makeing in your app.less file.
    less.env = "development";
    less.watch();
  </script>
  <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <script type="text/javascript" src="/js/libs/jquery-1.5.min.js"></script>
</head>
<body>
  <header>
    <div class="row">
      <div class="column grid-10">
        <hgroup>
          <h1 class="logo">憩いの我が家亭</h1>
          <p class="slogan">MMORPG「マビノギ」ルエリサーバーのギルド「憩いの我が家亭」のWebサイトです</p>
        </hgroup>
      </div>
      <div class="column grid-6">
        <p class="welcome">
        :if( $user && $user.name ) {
        ようこそ！ <: $user.name :>さん<br />
        <a href="/user/logout?back_to=<: $c.req.uri.as_string | uri :>">ログアウト</a>
        :} else {
        ログインしていません<br />
        <a href="/oauth/?back_to=<: $c.req.uri.as_string | uri :>"><img src="/img/sign-in-with-twitter-l.png" alt="Sign in with Twitter" /></a>
        : }
        </p>
      </div>
    </div>
    <div class="row">
      <nav class="global-navi">
        <ul class="h-menu">
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/character/">Character Sheet</a>
          </li>
        </ul>
      </nav>
    </div>
  </header>
  <div id="content">
    :local_navi()
    :block content -> { 
        Something wrong!
    :}
  </div>
  <footer>
    <div class="row">
      <div class="column grid-16">
        <p class="tal">Designed for Google Chrome12, Safari5 and FireFox4</p>
        <p class="tal"><small>Copyright &copy; 2011 - Senchan.jp</small></p>
      </div>
    </div>
  </footer>
</body>
</html>
:macro error ->($key) {
:if ($validator.get_error_messages_from_param($key)) {
<p class="error"><: $validator.get_error_messages_from_param($key)[0] :></p>
:}
:}
:macro pager ->() {

: if ($pager) {
<div class="column grid-16">
  : if ($pager.previous_page ) {
  <a href="<: $c.uri_with(page => $pager.previous_page ) :>">←Prev</a>
  : } else {
  <span class="">←Prev</span>
  : }

  : if ( $pager.next_page ) {
  <a href="<: $c.uri_with(page => $pager.next_page ) :>">Next→</a>
  : } else {
  <span class="">Next→</span>
  : }
</div>
: }
:}
:macro local_navi -> () {
: my $maps = $c.site_map[$c.controller];
: if ( $maps ) {
    <div class="row">
      <nav class="local-navi">
      <div class="left">&gt;</div>
      <ul class="h-menu">
      :for $maps -> $map {
      :  my $cond_sub = $map.cond_sub;
      :  if(!defined($cond_sub) || $cond_sub($c)) {
        <li>
          <a href="<: $map.path :>"><: $map.label :></a>
        </li>
      : }
      : }
      </ul>
      </nav>
    </div>
: }
: }
