<!DOCTYPE html>
<!--[if lt IE 7 ]> <html lang="ja" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="ja" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="ja" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="ja" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="ja" class="no-js"> <!--<![endif]-->
<head>
	<meta charset="UTF-8">
	
    <title> <: $page_title :> | <: $site_title :></title>
	
	<meta name="description" content="オンラインゲーム「Mabinogi」ルエリサーバーのギルド「憩いの我が家亭」のWebサイトです。">
	<meta name="author" content="Senchan">
	
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<link rel="shortcut icon" href="/favicon.ico">
	<link rel="apple-touch-icon" href="/apple-touch-icon.png">
	
	<link rel="stylesheet" href="/css/style.css">

	<script src="/js/libs/modernizr-1.6.min.js"></script>
    <script type="text/javascript" src="/js/libs/jquery-1.5.min.js"></script>
</head>
<body>
	<div id="header-container">
		<header class="wrapper">
        <h1 id="title"><: $site_title :></h1>
			<nav>
				<ul>
					<li><a href="#">Some</a></li>
					<li><a href="#">navigation</a></li>
					<li><a href="#">links</a></li>
                    :if ( $user ) {
                    <li><a href="/user/logout">Logout</a></li>
                    : } else {
					<li><a href="/oauth/">Login</a></li>
                    : }
				</ul>
			</nav>
		</header>
	</div>
	<div id="main" class="wrapper">
		<aside>
            <h3>こんにちは<: $user.screen_name :>さん</h3>
		</aside>
		<article>
        :block content -> { 
			<header>
				<h2>テンプレート</h2>
                <p>
                これが表示されてたら管理人までご一報ください
                </p>
			</header>
            <h3>タイトル</h3>
            <p>内容</p>	
			<footer>
                <h3>タイトル</h3>
                <p>内容</p>	
			</footer>	
        :}
		</article>
	</div>
	<div id="footer-container">
		<footer class="wrapper">
        <p>for Google Chrome / FireFox4 / Internet Explorer 8</p>
		</footer>
	</div>

	<!--[if lt IE 7 ]>
	<script src="js/libs/dd_belatedpng.js"></script>
	<script> DD_belatedPNG.fix('img, .png_bg');</script>
	<![endif]-->
</body>
</html>
